@using TurkishPlatform.Models
@model Restaurant

@{
    ViewBag.Title = "RestaurantDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section CSS {
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/Restaurant/img/favicon.png">
    <!-- Normalize Css -->
    <link rel="stylesheet" href="/Content/Restaurant/css/normalize.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="/Content/Restaurant/css/main.css">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="/Content/Restaurant/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/Restaurant/css/animate.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/Content/Restaurant/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    @*<link rel="stylesheet" href="/Content/Restaurant/css/fonts/flaticon.css">*@
    <!-- Owl Carousel -->
    <link href="~/Content/Restaurant/Owl-Carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/Owl-Carousel/assets/owl.theme.green.min.css" rel="stylesheet" />
    <script src="~/Content/Restaurant/Owl-Carousel/owl.carousel.min.js"></script>
    <!-- Custom Css -->
    <link rel="stylesheet" href="/Content/Restaurant/css/styleR.css">
    <!-- Modernizr Js -->
    <script src="/Content/Restaurant/js/modernizr-3.6.0.min.js"></script>

    <style>
        .single-recipe-layout1 {
            margin-left: 150px;
            margin-right: -300px;
        }

        .action-share-wrap {
            display: none;
        }

        .action-share-hover:hover .action-share-wrap {
            display: block;
        }

        .addComment {
            width: 500px;
            height: 100px;
        }

        .send {
            margin-left: 400px;
            width: 100px;
        }
    </style>
}

<section class="single-recipe-wrap-layout1 padding-top-74 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="single-recipe-layout1">
                    @*<div class="ctg-name">PASTA</div>*@
                    <h2 class="item-title">@Model.RestaurantName</h2>
                    <div class="row mb-4">
                        <div class="col-xl-9 col-12">
                            <ul class="entry-meta">
                                <li class="single-meta">
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i>Country gelecek!
                                    </a>
                                </li>
                                <li class="single-meta">
                                    <a href="#">
                                        <i class="fas fa-user"></i>by <span>
                                            Admin
                                        </span>
                                    </a>
                                </li>
                                <li class="single-meta">
                                    <ul class="item-rating">
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-empty"><i class="fas fa-star"></i></li>
                                        <li><span>9<span> / 10</span></span> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-3 col-12">
                            <ul class="action-item">
                                <li class="action-share-hover">
                                    <button><i class="fas fa-share-alt"></i></button>
                                    <div class="action-share-wrap">
                                        <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#" title="skype"><i class="fab fa-skype"></i></a>
                                        <a href="#" title="rss"><i class="fas fa-rss"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-figure">
                        @*OWL-CAROUSEL EKLE!!*@

                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product13.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product15.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product19.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product23.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product10.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product12.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product20.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product28.jpg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/Restaurant/img/product/product29.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="item-feature">
                        <ul>
                            <li>
                                <div class="feature-wrap">
                                    <div class="media">
                                        <div class="feature-icon">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="feature-title">@Model.Address</div>
                                            @{
                                                string go = "https://www.google.com/maps/place/" + Model.RestaurantName;
                                            }
                                            <a href="@go" class="feature-sub-title">Go!</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p class="item-description">
                        More off this less hello salamander lied porpoise much over
                        tightly circa horse taped so
                        innocuously side crudey mightily rigorous plot life. New homes in particular are
                        subject.All recipes created with FoodiePress have suport for Micoformats and Google
                        Recipe View. Schema.org is a collaboration byo improve the web by creatinegaera
                        structured data markup.More off this less hello salamander lied porpoise much over
                        tightly circa horse tapedey innocuously side crudey mightily rigorous plot life.
                    </p>
                    @*<p class="item-description">
                            Salamander lied porpoise much over tightly circa horse taped so
                            innocuously side crudey
                            mightily rigorous plot life. New homes in particular are subject.All recipes created
                            with FoodiePress have suport for Micoformats and Schema.org is a collaboration byo
                            improve.s convallis mi et tellus vehicula convallis. Etiam odio eros, viverra id dui
                            inrutrum cursus ex. Curabitur et consequatenim.
                        </p>*@

                </div>
            </div>
        </div>
    </div>
</section>

<section class="commentList">
	@foreach (RestaurantComment item in ViewBag.Comment)
	{
		<div class="comment">
			<h2>@item.User.NameSurname</h2>
			<br />
			<p>@item.Content</p>


		</div>
		<hr />
	}
	@if (Session["EnterID"] != null)
	{

		<form method="post">
			<div class="newComment">
				<input type="hidden" value="@ViewBag.RestaurantId" name="RestaurantId" />
				<textarea name="Content" class="addComment" placeholder="Comment.."></textarea>
			</div>
			<br />
			<button class="send">Send</button>
		</form>
	}
	<a href="#">Delete</a>


</section>

@section Scripts{
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 200,
            autoplayHoverPause: true,
            nav: true,
            dots: true
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })
    </script>
}