<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   <style>
       li a {
           font-size: 12px;
       }
   </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Panel/Activities/">Activities</a>
                    </li>
                    <li>
                        <a href="/Panel/AdminProfils/">Admin Profile</a>
                    </li>
                    <li>
                        <a href="/Panel/Advices/">Advices</a>
                    </li>
                    <li>
                        <a href="/Panel/AdviceTopics/">AdviceTopics</a>
                    </li>
                    <li>
                        <a href="/Panel/Countries/">Countries</a>
                    </li>
                    <li>
                        <a href="/Panel/ForumCommentCategories/">ForumCommentCategories</a>
                    </li>
                    <li>
                        <a href="/Panel/ForumComments/">ForumComments</a>
                    </li>
                    <li>
                        <a href="/Panel/ForumCommentTopics/">ForumCommentTopics</a>
                    </li>
                    <li>
                        <a href="/Panel/LocationComments/">LocationComments</a>
                    </li>
                    <li>
                        <a href="/Panel/LocationImages/">LocationImages</a>
                    </li>
                    <li>
                        <a href="/Panel/RestaurantComments/">RestaurantComments</a>
                    </li>
                    <li>
                        <a href="/Panel/RestaurantImages/">RestaurantImages</a>
                    </li>
                    <li>
                        <a href="/Panel/Restaurants/">Restaurant</a>
                    </li>
                    <li>
                        <a href="/Panel/Tourism/">Tourism</a>
                    </li>
                    <li>
                        <a href="/Panel/Users/">Users</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>