
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <style>

            .container .img {
                text-align: center;
            }

            .container .details {
                border-left: 3px solid #ded4da;
            }

                .container .details p {
                    font-size: 15px;
                    font-weight: bold;
                }
    </style>


     <link rel="shortcut icon" href="/Content/images/favicon.ico" /> 

    <link rel="stylesheet" href="/Content/Menu/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/Content/Menu/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/Content/Menu/css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="/Content/Menu/css/animate.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/Content/Menu/css/mobile.css" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <script src="/Content/Menu/js/modernizr.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    @RenderSection("CSS", false)

</head>
<body>
    <div>
        <header style="height:510px;">
            <div id="home">
                <ul id="cbp-bislideshow" class="cbp-bislideshow">
                    <li>

                        <img src="~/Content/Menu/images/turizm.jpg" />
                    </li>
                </ul>
                <div class="container">
                    <div class="header animated tada">
                    
                    
                    </div>
                </div>
            </div>
            <section class="ss-style-bottom"></section>


        </header>

        @*MENU*@
        <section>
            <div class="container">
                <ul id="gn-menu" class="gn-menu-main">
                    @*//Burası en baş kısım buraya profil koyacagım*@
                    <li class="gn-trigger">
                        <div class="trigger"><a class="gn-icon gn-icon-menu"><span>Menu</span></a></div>
                        <nav class="gn-menu-wrapper">
                            <div class="gn-scroller">
                                <ul class="gn-menu">
                                    <li><a href="/Home/Index" class="gn-icon fa-heart">Home</a></li>
                                    <li><a href="/Contact/Index" class="gn-icon fa-comment">Contact</a></li>
                                    <li><a href="/About/Index" class="gn-icon fa-comment">About</a></li>
                                    <li><a href="/Forum/Index" class="gn-icon fa-heart">Forum</a></li>
                                    <li><a href="/Activity/Index" class="gn-icon fa-heart">Activities</a></li>
                                    <li><a href="#nenerede" class="gn-icon fa-users">What Where?</a></li>
                                    <li>
                                        <ul class="gn-submenu">
                                            <li><a href="/Restaurant/Index" class="gn-icon fa-chevron-right">Restaurant</a></li>
                                            <li><a href="/TourismTravel/Index" class="gn-icon fa-chevron-right">Tourism</a></li>
                                            <li><a href="/Advices/Index" class="gn-icon fa-chevron-right">Advices</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#contact" class="gn-icon fa-book">Contact</a></li>
                                </ul>
                            </div><!--end gn-scroller-->
                        </nav>
                    </li>
                    <li>
                        @if (Session["NameSurname"] != null)
                        {
                            <div class="container" style="margin-left:600px;">
                                <div class="row" style="position:relative; bottom:40px; left:200px;">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4"></div>
                                    
                                    <div class="col-xs-4" >
                                        <div class="row">
                                            <a style="height:80px; width:80px; border-radius:80px; display:inline-block;" href="/UserProfile/Index/@Session["EnterID"]"><img style="height:80px; width:80px; border-radius:80px;  -webkit-transform: rotate(90deg);" src="/@Session["Image"]" class="img-rounded"></a>@*//fotografa basınca profil sayfası popup olarak gelsin*@
                                            <div>
                                                <h5 style="color:black; display:inline-block;">@Session["NameSurname"]</h5>
                                              
                                            </div>
                                           
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        }
                        else
                        {
                            <a href="/User/Index/">Login</a>
                        }

                    </li>
                    <li class="back"><a class="gn-icon fa-angle-double-up" href="#top"></a></li>
                </ul>
            </div><!--end container-->

        </section> @*END MENU*@

        <section>
            @RenderBody()
        </section>

        <footer class="copyright">
            <div>
                @RenderSection("Footer", false)
                <p>&copy; @DateTime.Now.Year - All Right Reserved</p>
            </div>
        </footer>
    </div>


    <script src="/Content/Restaurant/js/jquery-3.3.1.min.js"></script>
    <script src="/Content/Restaurant/js/popper.min.js"></script>
    <script src="/Content/Restaurant/js/plugins.js"></script>
    @*<script src="/Content/Restaurant/js/owl.carousel.min.js"></script>*@
    <script src="/Content/Restaurant/js/smoothscroll.min.js"></script>

    @*<script type="text/javascript" src="/Content/Menu/js/jquery-1.11.1.min.js"></script>*@
    @*<script type="text/javascript" src="/Content/Menu/js/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="/Content/Menu/js/main.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/classie.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/cbpBGSlideshow.min.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/gnmenu.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/countdown.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/responsiveslides.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/Content/Menu/js/jquery.prettyPhoto.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script>
    /* -- NAVIGATION -- */
    jQuery('.gn-menu a').on('click');
    new gnMenu(document.getElementById('gn-menu'));

    /* -- SCROLLING -- */
    jQuery('body').scrollspy({ target: '#gn-menu' });

    /* -- SLIDESHOW -- */
    $(function () {
        cbpBGSlideshow.init();
    });

    </script>

    @RenderSection("Scripts", false)

</body>
</html>
