@using TurkishPlatform.Models
@model List<Activity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_MyView.cshtml";
}

<h2>Index</h2>
<a href="Panel/Activitie/Create/" class="btn btn-primary">Add new Activity</a>
<table>
    <thead>
        <tr>
            @*//satır*@
            <th>Country</th>@*//başlık gelecek hucreler bunlar yanyana*@
            <th>Title</th>
            <th>UserName</th>
            <th>Address</th>
            <th>Content</th>
            <th>Date</th>
            <th>StartTime</th>
            <th>FinishTime</th>
            <th>RemainingTime</th>
            <th>ImageUrl</th>
            <th>Permission</th>
        </tr>

    </thead>
    <tbody>
        @foreach (Activity item in Model)
        {
            <tr>
                <td>@item.Country.CountryName</td>
                <td>@item.Title</td>
                <td>@item.User.NameSurname</td>
                <td>@item.Address</td>
                <td>@item.Content</td>
                <td>@item.Date</td>
                <td>@item.StartTime</td>
                <td>@item.FinishTime</td>
                <td>@item.Remaining</td>
                <td>@Html.Raw(item.ImageURL != null ? item.ImageURL : "-")</td>
                <td>@item.Permission</td>
                <td><a href="Panel/Activitie/@item.ActivityId">Edit</a></td>
                <td><span class="btn btn-danger del" rel="@item.ActivityId">Delete</span></td>
            </tr>
        }
    </tbody>
</table>

