@using TurkishPlatform.Models
@model  Activity
@{
    ViewBag.Title = "ActivityDetails";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <style>
        #aa {
            font-size: 20px;
        }

        #perde {
            background-color: black;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            z-index: 100;
        }

        #ActivityDetails {
            background-color: #FAF0E6;
            
            width: 700px;
            position: absolute;
            top: -10%;
            display: none;
            left: 33%;
            border-radius: 15px;
            top: 130px;
            z-index: 110;
            color: white; 
        }

        #kapatbtn {
            position: absolute;
            top: 8px;
            right: 12px;
            cursor: pointer;
            font-size: 50px;
            color: white;
        }

        #resim111 {
            width: 490px;
            height: 190px;
            margin-top: 0px;
            margin-left: 118px;
        }

        h1 { 
            margin-left: 276px;
            margin-top: 6px;
        }

        * p {
            margin-top:15px;
            font-size: 20px;
            margin-left: 25px;
            margin-right:10px;
        }
    </style>
    <style>
        html, body {
            min-height: 100%;
        }

        /*body {
            background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
            background-image: linear-gradient(top, #edecec, #cecbc9);
        }*/

        .buttonHolder {
            /*margin: 80px auto;*/
            position:relative;
            width: 400px;
            left: 260px
        }

        #ActivityDetails h1 {
            margin-left: 50px;
            color: black;
        }

        .button {
            position: absolute !important;
            /*float:right;*/
            left: 95%;
            top: 8%;
            background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
            background-image: linear-gradient(top, #f4f1ee, #fff);
            border-radius: 50%;
            box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
            float: left;
            height: 70px;
            margin: 0 30px 30px 0;
            position: relative;
            width: 70px;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

            .button:after {
                color: #e9e6e4;
                content: "Etkinlik Oluştur";
                display: block;
                font-size: 30px;
                height: 30px;
                text-decoration: none;
                text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
                position: absolute;
                width: 30px;
            }


        .heart:after {
            content: "✿❤";
            left: 21px;
            top: 16px;
            font-size: 50px;
        }

        .flower:after {
            content: "?";
            left: 23px;
            top: 10px;
            font-size: 50px;
        }

        .tick:after {
            content: "✔";
            left: 23px;
            top: 16px;
        }

        .cross:after {
            content: "✖";
            left: 21px;
            top: 15px;
        }

        .button:hover {
            background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
            background-image: linear-gradient(top, #fff, #f4f1ee);
            color: #0088cc;
        }

        .heart:hover:after {
            color: #f94e66;
            text-shadow: 0px 0px 6px #f94e66;
        }

        .flower:hover:after {
            color: #f99e4e;
            text-shadow: 0px 0px 6px #f99e4e;
        }

        .tick:hover:after {
            color: #83d244;
            text-shadow: 0px 0px 6px #83d244;
        }

        .cross:hover:after {
            color: #eb2f2f;
            text-shadow: 0px 0px 6px #eb2f2f;
        }



        .button:active {
            background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
            background-image: linear-gradient(top, #efedec, #f7f4f4);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
        }

            .button:active:after {
                color: #dbd2d2;
                text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
            }

        #katil {
            margin-left: -430px;
            
        }

        #Katilmiyorum {
            margin-left: -246px;
            
        }
        /*#bilmiyorum{
                margin-left:-200px;
                margin-top:730px;

           }*/
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

</head>
<body>
    <h2>ActivityDetails</h2>
    <div id="perde">
    </div>
    <div id="ActivityDetails">


        <a href="/Activity/Index"> <img id="kapatbtn" src="~/Uploads/Activity/exit.png" /></a>
        @{
            var item = Model;
        }
        @if(item.ActivityId == ViewBag.Id)

        {
            <div class="alert alert-warning" id="aa">
            </div>
            <p><b>@item.Title</b></p>

            <img id="resim111" alt="Independence Day" src="@item.ImageURL" />

            <div>
                <p><b>İçerik: </b>  @item.Content</p>
                <p> <b>Etkinlik Günü</b> @item.Date.ToShortDateString()</p>
                 
                <p><b>Başlama Saati:</b>  @item.StartTime.Hour:@item.StartTime.Minute </p>
                <p><b>Bitiş Saati:</b>  @item.FinishTime.Hour:@item.FinishTime.Minute</p>
                <p><b>Adres:</b> @item.Address</p>

                <form method="post">
                    <div class="buttonHolder">
                       <h5 style="margin-left: -200px;color:#043434; margin-top: 67px;position:relative">  .</h5> 
                        <span id="katil" name="katiliyorum" class="button tick"></span>
                      <h4 style="margin-left: -238px;color:#043434;margin-top: 77px">Etkinliğe katılıp katılmayacağınızı belirtin</h4>
                        <span id="Katilmiyorum" class="button cross"></span>
                    </div>
                    <br>
                </form>

            </div>
          
        }

    </div>
    <script src="~/Content/ActivityDetails.js"></script>

    <script>
        $(document).ready(function () {


            $("#katil").click(function () {
                 
                var sonuc = 1;
                
                $.ajax({
                    url: "/Activity/AcceptDeny/?id=" +@Model.ActivityId + "&sonuc=" + 1 + " ",
                    //data: {"id": @Model.ActivityId,"kullaniciId": 1, "sonuc": 1 },
                    type: "POST",
                    dataType: "json",
                    data: { KatilmaId: sonuc },
                    success: function (data) {
                        if (sonuc == 1) {
                           
                            sonuc = 1; 
                            $("#aa").text("Kaydınız oluştu") 
                        } 
                    }
                });

            });

            $("#Katilmiyorum").click(function () {
                
                var sonuc = 0;
                 
                $.ajax({
                    url: "/Activity/AcceptDeny/?id=" +@Model.ActivityId +"&sonuc=" + 0 + "   ",
                    type: "POST",
                    dataType: "json",
                    data: { KatilmaId: sonuc },
                    success: function (data) {
                        debugger;
                        if (sonuc == 0) {
                            sonuc = 0;
                            $("#aa").text("Katılmıyorsunuz")
                        }
                    }
                });

            });
        }
            );
    </script>

</body>

</html>
