@model TurkishPlatform.Models.ForumTopicTitle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ForumTopicTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommentCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TitleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
