@using TurkishPlatform.Models
@model  Tourism
@{
    ViewBag.Title = "TourismTravelDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 17px">@Model.LocationName</h2>


@section CSS{

    <link href="~/Content/Restaurant/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/main.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/styleR.css" rel="stylesheet" />
    <script src="~/Content/Restaurant/js/jquery-3.3.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .resim {
            width: 65% !important;
        }

            .resim img {
                height: 100% !important;
            }
    </style>
    <style>
        .thumbnail {
            padding: 0px;
        }

        .panel {
            position: relative;
        }

            .panel > .panel-heading:after, .panel > .panel-heading:before {
                position: absolute;
                top: 11px;
                left: -16px;
                right: 100%;
                width: 0;
                height: 0;
                display: block;
                content: " ";
                border-color: transparent;
                border-style: solid solid outset;
                pointer-events: none;
            }

            .panel > .panel-heading:after {
                border-width: 7px;
                border-right-color: #f7f7f7;
                margin-top: 1px;
                margin-left: 2px;
            }

            .panel > .panel-heading:before {
                border-right-color: #ddd;
                border-width: 8px;
            }
    </style>
    <style>
        .yorum {
            margin-left: 116px;
            width: 1530px;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="resim"></div>
        <div class="icerik" style="   width: 1000px;
    margin-left: 93px;">
            @foreach (Tourism item in ViewBag.Tourism)

            {  <p>@item.Content</p>


            }
        </div>
        <div class="mesaj">
            <h2  style="margin-left:100px;">Yorumlar</h2>
            @foreach (LocationComment item in ViewBag.Comment)
            {
                if (ViewBag.Comment != null)
                {
                    <div class="row yorum">
                        <div class="col-lg-1"></div>
                        <div class="col-sm-1">
                            @if (item.User.ImageURL == null)
                            {
                                <div class="thumbnail">
                                    <a href="/Profile/Index/@item.UserId"><img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                </div>
                            }
                            else
                            {
                                <div class="thumbnail">
                                    <a href="/Profile/Index/@item.UserId">   <img class="img-responsive user-photo" src="@item.User.ImageURL" alt="Product" style="width:50px"></a>
</div>
                            }
                        </div>
                        <div class="col-sm-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@item.User.NameSurname</strong> <span class="text-muted"> </span>

                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <p>@item.Content</p>
                                        </div>
                                       
                                    </div>
                                    @if (item.UserId == ViewBag.Name)
                                    {
                                        <span class="sil btn btn-danger delete" mesajid="@item.CommentId"> Sil</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

             
        </div>


        <div class="col-md-4 text-center " style="">

            <TextBox ID="Mesaj" TextMode="MultiLine" Rows="5" CssClass="form-control"></TextBox>

            @if (!ViewBag.c)
            {
                <form method="post">
                    <input id="textinput" name="comment" type="text" onblur="this.type=date" style="height:80px;width: 206%;margin-left: 244px;" placeholder="Yorum Yap" class="form-control input-md text-center "><br />
                    <button class="input-md btn btn-success" name="Insert" style="width:205%;margin-left: 244px;float:none;">Yorum Yap</button>

                </form>  }
        </div>

    </div>

</div>

<script>
    //debugger
    $(".delete").click(function () {
        //debugger
        var _this = $(this);
        var id = $(this).attr("mesajid");
        $.ajax({
            url: "/TourismTravel/DeleteComment?deleteid=" + id,
            type: "POST",
            success: function (IsitOk) {
                //debugger
                if (IsitOk) {
                    _this.parent().slideUp("slow");
                }
                else {
                    alert("bir hata oluştu")
                }
            }
        })

    });

</script>

<div>
    @section Footer{
        <section class="instagram-feed-wrap">
            <div class="instagram-feed-title"><a href="#"><i class="fab fa-instagram"></i>Follow On Instagram</a></div>
            <ul class="instagram-feed-figure">
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/1.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/2.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/3.jpg" alt="Social" />
                    </a>
                </li>

                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/4.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/5.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/6.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/7.jpg" alt="Social" />
                    </a>
                </li>
            </ul>
        </section>
    }
</div>


